.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    padding: 5px;
    background: grey;
    border-radius: 8px;
    pointer-events: none;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer; 
}

.section-title {
    fill: white;
    font-size: 16px;
    text-anchor: middle;
}


#chart-wrapper {
    display: flex;
    align-items: flex-start; 
    margin-top: 100px; 
}

#buttons {
    display: flex;
    flex-direction: column; 
    margin-right: 20px; 
}

#chart {
    margin-bottom: 20px; 
}

@media (max-width: 768px) {
    .tooltip {
        width: 100px; 
        font-size: 14px; 
    }

    button {
        padding: 8px; 
        font-size: 14px; 
    }

    .section-title {
        font-size: 14px; 
    }

    #chart-wrapper {
        margin-top: 50px; 
        flex-direction: column; 
        align-items: center; 
    }

    #buttons {
        margin-right: 0; 
        margin-bottom: 20px; 
    }
}

@media (max-width: 480px) {
    .tooltip {
        width: 80px; 
        font-size: 12px; 
    }

    button {
        padding: 6px; 
        font-size: 12px; 
    }

    .section-title {
        font-size: 12px; 
    }

    #chart-wrapper {
        margin-top: 30px; 
    }
}