h1 {
    margin-top: 100px; 
    text-align: center;
}

#heatmap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}
#heatmap {
    display: flex;
    justify-content: center;
    align-items: center;
}
svg {
    margin: 50px;
}
.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: auto;
    padding: 8px;
    background-color: #f9f9f9;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    color: black;
}

@media (max-width: 768px) {
    h1 {
        margin-top: 50px; 
        font-size: 2em;
    }

    #heatmap {
        flex-direction: column; 
        margin-top: 10px; 
    }

    svg {
        margin: 20px; 
        width: 90%; 
    }

    .tooltip {
        width: 80px; 
        padding: 6px; 
        font-size: 12px; 
    }
}

@media (max-width: 480px) {
    h1 {
        margin-top: 30px; 
        font-size: 1.5em; 
    }

    #heatmap {
        margin-top: 5px;
    }

    svg {
        margin: 10px; 
        width: 100%; 
    }

    .tooltip {
        width: 70px; 
        padding: 4px; 
        font-size: 10px; 
    }
}