@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body,html{
    height: 100%;
    background-color: black;
    color: white;
    min-height: 200vh;;
}

.parallax-1{
    background-image: url(/Commercial-Grade-Website/Images/SanSiro.jpg);
    height: 100% ;
}

.parallax-2{
    background-image: url(/Commercial-Grade-Website/Images/PaoloMaldini.jpg);
   
    height: 100%;
}

.parallax-1, .parallax-2{
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
    font-family: 'Sarabun', sans-serif;
}

header.sticky{
    padding:5px 100px;
    background-color: red ;
}

.logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    z-index: 10000;
    display: flex;
    align-items: center; /* Aligns text and image in a single line */
}

.logo-img {
    width: 40px; /* Adjust the size as needed */
    height: auto;
    margin-right: 10px; /* Add spacing between the logo image and the text */
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin:0 15px;
    text-decoration: none ;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a{
    color:#000 ;
}

/* .banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(/Commercial-Grade-Website/Images/SanSiro.jpg);
    background-size: cover;
} */

.calligraphy-container{
    position:absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 200px;
    text-align: center;
}



.calligraphy-text {
    font-family: 'Dancing Script'; 
    font-size: 48px;
    fill: transparent;
    stroke: white;
    stroke-width: 2;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    text-anchor: middle;
    animation: draw 5s ease forwards;
}


@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

.border {
    color: black;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
    font-size: 36px;
    font-family: 'Dancing Script', cursive;
    position: relative;
    top: -500px; /* Adjust this value to move the div upwards */
    width: 100%;
}

main {
    padding-top: 50px; /* Adjust this value based on your header height */
}

#myEssay1 {
    width: 100%;
    height: 600px;
}