body{
    padding: 50px 100px
}

main {
    max-width: 900px; 
    margin: 0 auto; 
    padding-top: 250px; 
    padding-left: 20px;
    padding-right: 20px;
}


h2 {
    font-family: 'Sarabun', sans-serif;
    font-size: 36px;
    color: #ff0000; 
    margin: 40px 0 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}


p {
    margin-bottom: 20px; 
    text-align: justify; 
    max-width: 900px; 
    padding: 0 50px; 
    font-size: 18px;
}

ul{
    margin-bottom: 20px; 
    text-align: justify; 
    max-width: 900px; 
    padding: 0 50px; 
    font-size: 18px;
}